
	<header>
		<a href="/"><h2 class="brand">Blog</h2></a>
		<nav>
			<a href="/post/edit/<%= post._id %>">Edit post</a>
			<i class="fa-solid fa-bars"></i>
		</nav>
	</header>

	<article>
			<div class="post">
				<div class="post-img">
					<img src="/<%= post.image %>">

				</div>
				<div class="post-title"><%= post.title %></div>
				<div class="post-body">
					<p class="summary">
						<%= post.summary %>...
					</p>
				</div>
				<div class="delete">
					<button class="deleteBtn" onclick="deletePost('<%= post._id %>')">
						Delete
					</button>
				</div>
			</div>
		
			
			

	</article>
	<script src="/public/js/deletePost.js"></script>

